<div>
    <hr>
    <h2><%= property.name %></h2>

    <p>Address: 
    <% if property.street_address == "" %>
        <span style="color: red;">&#9888; No street address information!</span>
    <% else %>
        <%= property.street_address %>
    <% end %>
    </p>
    
    <p>City: 
        <% if property.city == "" %>
            <span style="color: red;">&#9888; No city information!</span>
        <% else %>
            <%= property.city %>
        <% end %>
    </p>

    <p>State:
        <% if property.state == "" %>
            <span style="color: red;">&#9888; No state information!</span>
        <% else %>
            <%= property.state %>
        <% end %>
    </p>

    <p>Zip Code: 
        <% if property.zip_code == "" %>
            <span style="color: red;">&#9888; No zipcode information!</span>
        <% elsif property.zip_valid == false && property.state == "" %>
            <span style="color: red;">&#9888; Invalid zip code for <%= property.state %></span>
        <% else %>
            <%= property.zip_code %>
        <% end %>
    </p>

    <% if property.units.any? %>
        <p>Units: <%= property.units.join(", ") %></p>
    <% else %>
        <p> Units: N/A </p>
    <% end %>
    <%= link_to 'Edit Property', edit_import_path(import, property_name: property.name), method: :get %>
    <br>
    <%= button_to 'Delete Property', import_path(import, property_name: property.name), method: :delete %>
</div>