<!-- @property uses Imported Property, not a hash -->
<h1>Editing Property: <%= @property.name %></h1>

<div>
    <%= form_with url: edit_import_path(@import), method: :get do |f| %>
        <%= f.hidden_field :property_name, value: params[:property_name] %>
        <%= f.number_field :unit_count, min: 0, value: params[:unit_count] || 0 %>
        <%= f.submit "Add Units" %>
    <% end %>
</div>

<div>
    <%= form_with url: import_path(@import), method: :patch do |form| %>
        <%= form.hidden_field :property_name, value: @property.name %>
        <div>
            <%= form.label :name, 'Property Name:' %>
            <%= form.text_field :name, value: @property.name %>
        </div>

        <div>
            <%= form.label :street_address, 'Address:' %>
            <%= form.text_field :street_address, value: @property.street_address %>
        </div>

        <div>
            <%= form.label :city, 'City:' %>
            <%= form.text_field :city, value: @property.city %>
        </div>

        <div>
            <%= form.label :state, 'State:' %>
            <%= form.select :state, ZIP_PREFIXES.keys, selected: @property.state %>
        </div>

        <div>
            <%= form.label :zip_code, 'Zip Code:' %>
            <%= form.text_field :zip_code, data: { numeric: true}, value: @property.zip_code %>
        </div>

        <br>
        <label>Edit units by typing in the text field, or check them to delete.</label>
        <div class="unit-container">   
            <%= render "unit_fields" %>
        </div>
        <%= form.submit "Save Changes" %>
    <% end %>
</div>

<br>
<%= link_to "Back to Preview", import_path(@import) %>